@{
    ViewData["Title"] = "The Coding Cafe";
}

<div class="p-4 mb-3 shadow" style="background-color:cornflowerblue;border-radius:40px;">
    <h1>The Coding Cafe <i class="fa fa-code" aria-hidden="true" style="font-size:48px"></i></h1>
    <p class="lead">
        Our unique cafe embraces the brains of programmers. With areas to work, and coffee to keep you going.
    </p>
</div>


<div class="row">
    <div class="col-sm-4">
        <h2>Our Story</h2>
        <p>
            This started out as a small dream for a programmer and his wife. Jack and Jill have been talking about making a quiet, programmer friendly coffee shop for years. Jack has always has a love for programming,
            often spending late nights working on projects. Jill makes Jack the best coffee to keep him going, and he always told her she should sell her coffee because it gets the job done!<br />
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Jack <i class="fa fa-laptop" style="font-size:24px"></i></h2>
        <p>
            Jack has a masters in computer science from Harvard. He has worked for Google, Meta, and Twitter. Elon Musk and Mark Zuckerberg have personally told him they wish they were him.
            As much as he loved those jobs, he is tired of climbing the ladder and wants to run his own company with his wife.
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Jill <i class="fa fa-coffee" style="font-size:24px"></i></h2>
        <p>
            Jill has a masters degree in barista-ology from the University of Starbucks. She has been a barista for 25 years and has made over 6 million lattes! She is the best in the business,
            but working for a large corporation isn't her dream anymore.
        </p>
    </div>
</div>
<div class="row">
    <img src="~/images/JackandJill.jpg" alt="Happy couple drinking coffee" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/images/Jack.jpg" alt="Programing man" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/images/Jill.jpg" alt="Smiling barista" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
</div>