@{
    ViewData["Title"] = "The Coding Cafe";
}

<div class="p-4 mb-3 shadow" style="background-color:cornflowerblue;border-radius:40px;">
    <h1>Contact Us <i class="fa fa-code" aria-hidden="true" style="font-size:48px"></i></h1>
    <p class="lead">
        Call us with suggestions, reviews, or for information!
    </p>
</div>

<div class="row">
    <div class="col-sm-6 text-center">
        <h2>We'd Love To Hear From You!</h2>
        <p style="font-size:24px">
            123 Front Street
            <br />
            Traverse City, MI 49684
            <br />
            <i class="fa fa-phone" style="font-size:24px"></i>(231) 123-4567
        </p>
    </div>
    <div class="col-sm-6">
        <img src="~/images/downtown.jpg" alt="Downtown TC" asp-append-version="true"
             class="float-sm-start img-fluid rounded-circle" />
    </div>


</div>